*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Both */

body{
  background-color: #3d3f42;
  font-family: 'Anek Malayalam', sans-serif;
  color:#4069c8;
  user-select: none;
  animation: 1s cubic-bezier(0, 1, 0, 1) 0s 1 zoom-in-intro;
}

.hidden{
  visibility: hidden;
}

/* index.html */

.titles{
  font-size: 3.5em;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0.5%;
}

.timer_button{
  font-size: 1.4em;
  border-radius: 20%;
  padding: 1.5% 1.5%;
  margin: 1.5%;
}

.countDownInput{
  border-color: transparent;
  outline: none;
  background-color: transparent;
  text-align: center;
  width: 2.5em;
  height: 3.5em;
  border-radius: 10px;
  margin: 0.5em;
  margin-inline: 0.85em;
  font-size: 2em;
  /* Apply basic text propreties cause body doesn't apply to forms */
  background-color: #4069c8;
  font-family: 'Anek Malayalam', sans-serif;
  border-color: #4069c8;
}

.countDownInput:focus{
  border-color: black;
  background-color: transparent;
  color: white;
}

.ion-icon{
  margin: 0.2em;
  padding: 0;
  font-size: 2.5em;
  margin-inline: 1.18em;
}

.start_button{
  font-size: 1em;
  border-radius: 5px;
  padding: 0.5% 0.5%;
  margin: 1%;
}

.locked{
  opacity: 33%;
  animation: none;
  pointer-events: none;
}

/* countDown.html */

.countDown{
  font-size: 3.5em;
  text-align: center;
  margin-top: 20%;
}

.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_button{
  font-size: 1em;
  border-radius: 5px;
  padding: 0.5% 0.5%;
  margin: 1%;
}

.time_elapsed, .permalink{
  font-size: 1.3em;
  text-align: center;
  margin-top: 1%;
}

.permalink{
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25em;

  font-size: 80%;
  border-radius: 5px;
}

.permalink, .home_button, .timer_button, .start_button{
  /* Apply basic text propreties cause body doesn't apply to forms */
  background-color: #4069c8;
  font-family: 'Anek Malayalam', sans-serif;
  border-color: #4069c8;
}

body, button, .home_button, .start_button, .countDownInput{
  transition: all 250ms;
}

button:hover, .home_button:hover, .start_button:hover{
  transform: scale(1.15);
  background-color: transparent;
  color: white;
}

.flash{
  animation: fade_in-n-out 1s 670ms infinite forwards;
}

@keyframes fade_in-n-out{
  0%{
    opacity: 100%;
  }
  33%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes zoom-in-intro{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(-10);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}